body{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    background-image: url(https://source.unsplash.com/random/900*1600/?landscape);
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 120%;


}
.card{
    background-color: rgba(0, 0, 0, 0.9);
    color: #fff;
    padding: 2rem;
    border-radius: 20px;
    width: 100%;
    max-width: 420px;
    margin: 1rem ;

}
.search{
    display: flex;
    align-items: center;
    justify-content: center;

}
.search-bar{
    border: none;
    outline: none;
    padding: 0.5em 1em;
    border-radius: 24px;
    background-color: #7c7c7c2b;
    color: #fff;
    font-family: inherit;
    font-size: 100%;
    width: calc(100%-80px);

}
button{
    margin: 0.5em;
    border-radius: 50%;
    height: 46px;
    width: 46px;
    outline: none;
    border: none;
    background-color: #7c7c7c2b;
    color: #fff;
    cursor: pointer;
    transition: 0.2s ease-in-out;


}
button:hover{
    background-color: #7c7c7c6b;

}
h1{
    margin: 0;
}
h2{
    margin: 20px 0 ;
}
.description{
    text-transform: capitalize;
    margin-left: 8px;
}
.flex{
    display: flex ;
    align-items: center;
}

.weather.loading{
    visibility: hidden;
    max-height: 20px;
    position: relative;
}
.weather.loading::after{
    visibility: visible;    
    content: "Loading...";
    color: #fff;
    position: absolute;
    top: 0;
}